{% extends 'base00.html' %}
{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Iniciar Sesión</h1>    
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="form-group">
                          <label for="username">Usuario</label>
                          <input type="text" name="username" id="username" class="form-control" placeholder="Digite el Usuario" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Digite la contraseña" required>
                        </div>
                        <br>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Iniciar Sesión">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock%}
