<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basesys.css') }}">
</head>
<header>
    <h3>Rms-System</h3>
    <nav>
        <ul>
            <li><a href="#menu">Inicio</a></li>
            <li><a href="#sesion">Iniciar Sesión</a></li>
            <li><a href="#acerca">Acerca</a></li>
        </ul>
    </nav>
</header>

<main>
    <section id="menu">
        
    </section>

    <section id="habilidades">
        <img id="fondo" src="./fondo.PNG" alt="fondo">
    </section>

    <aside id="intereses">

    </aside>
</main>

<footer>
    <p>&copy; 2024 Samuel Mejía</p>
    <nav>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
        <a href="#">GitHub</a>
    </nav>
</footer>
</html>