<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Base</title>
    <link rel="stylesheet" href="../static/css/marco.css">
</head>
<header>
    <h1>Barra del Banner</h1>
    <p>información del banner</p>
    <nav>
        <ul>
            <li><a href="#sobre-mi">Home</a></li>
            <li><a href="#habilidades">Iniciar sesión</a></li>
            <li><a href="#intereses">Acerca de</a></li>
        </ul>
    </nav>
</header>

<main>
    <section id="menu-vertical">
        <h2>Menu</h2>
    </section>

    <section id="habilidades">
        <h2>Es la sección del cuerpo central</h2>
        <div class="skill">
            <label for="html">HTML</label>
            <progress id="html" max="100" value="30">80%</progress>
        </div>
        <div class="skill">
            <label for="css">CSS</label>
            <progress id="css" max="100" value="30">70%</progress>
        </div>
        <div class="skill">
            <label for="js">JavaScript</label>
            <progress id="js" max="100" value="20">50%</progress>
        </div>
    </section>

    <aside id="intereses">
        <h2>Es la seccion de opciones laterales</h2>
        <ul>
            <li>Desarrollo web</li>
            <li>Musica</li>
            <li>Lectura</li>
            <li>Análisis de datos</li>
        </ul>
    </aside>
</main>

<footer>
    <p>&copy; 2024 Samuel Mejía</p>
    <nav>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
        <a href="#">GitHub</a>
    </nav>
</footer>
</html>